@page "/"

<PageTitle>OrderFetcher</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">OrderFetcher</h1>
        <p class="lead">
            Get your orders from <code>.eml</code> files and keep them in the database. With the table, view your saved orders with details.
        </p>
        <hr class="my-4" />
        <p>
            Created by <strong>Marcin Grzegorczyk</strong>, especially for <strong>Lea Sp. z o.o.</strong>
        </p>
    </div>
</div>