@page "/"

<PageTitle>OrderFetcher</PageTitle>

<h1>OrderFetcher</h1>
<p>
    Get your orders from .eml files and keep them in the database. With the table, view your saved orders with details.
</p>
<br/>
<p>
    created by <b>Marcin Grzegorczyk</b> especially for <b>Lea Sp. z o.o. </b>
</p>
